@import "variables";
@import "mixins";
@import "header";
@import "hero";
@import "cta";
@import "footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}




